<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">


	<!--配置action对象 scope属性：单实例对象 -->
	<bean id="userAction" class="com.gx.action.UserAction" scope="prototype">
		<!-- 以注解的方式注入对象就不需要写下面的那句代码 -->
		<!-- <property name="userService" ref="userService"></property> -->
	</bean>

	<!--创建dao实现类对象 接口=实现类 -->
	<bean id="userDaoImp" class="com.gx.dao.impl.UserDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>

	<!-- 创建service实现类对象 -->
	<bean id="userService" class="com.gx.service.impl.UserServiceImpl">
		<!-- 以注解的方式注入对象就不需要写下面的那句代码 -->
		<!-- <property name="userDao" ref="userDaoImp"></property> -->
	</bean>



</beans>
